html, body
{
    margin: 0;
    padding: 0;
}

#newses h2
{
    font-size: 1.2em;
    text-align: left;
}

#newses h3
{
    font-size: 0.8em;
    text-align: left;
}

#newses h4
{
    margin: 5px auto;
    font-size: 0.6em;
    text-align: left;
}

.news-content p
{
    margin: 1em auto;
    text-align: left;
    color: #000000;
}

.news-content p strong
{
    text-align: center;
}

.news
{
    padding: 10px;
    border: dashed thin rgb(0, 0, 0);
}

.news-content
{
    float: left;
    width: 90%;
}

.news-content h2 a
{
    width: 80%;
}

.news .news-opt
{
    float: left;
    padding: 0;
    z-index: 20;
}

.news .news-opt img
{
    width: 18px;
    height: 18px;
}

.news .news-opt .admin-opt
{
    float: left;
    margin: auto 5px;
    opacity: 0.8;
}

.news .news-opt .admin-opt:hover
{
    opacity: 1;
}

.admin-opt,
.user-opt
{
    opacity: 0.8;
}

.admin-opt:hover,
.user-opt:hover
{
    opacity: 1; 
}

#user-opts table
{
    margin: 0 auto;
}

#user-opts table td
{
    padding-bottom: 15px;
}

.user-opt img
{
    width: 64px;
    height: 64px;
}

#all-admin-opt
{
    clear: both;
    margin: 10px auto;
    padding: 5px;
}

.news-content div
{
    padding: 5px;
}