.form
{
    margin: 0 auto;
}

#logform
{
    height: 37px;
    width: 338px;
    padding: 2px 5px;
}

.logowanie
{
    margin-top: 3px;
    height: 15px;
    width: 90px;
    border: none;
    padding: 3px;
    background: url('img/finput.png');
    background-size: 100% 100%;
    color: #000;
}

.logowanie:hover
{
    outline: solid thick rgb(255, 180, 0);
}

.logowanie:focus
{
    outline: solid thick rgb(255, 180, 0);
}

#logform #submit-element
{
    padding-top: 2px;
}

#logform #login-label,
#logform #password-label
{
    margin-top: 13px;
}

#logform .login
{
    width: 45px;
    height: 20px;
    border: none;
    background: url('img/login.png');
    background-size: 100% 100%;
}

#logform .login:hover
{
    background: url('img/login-hover.png');
    background-size: 100% 100%;
}

#logform dd,
#logform dt
{
    float: left;
    margin-top: 10px;
}

#logform dd
{
    margin-right: 8px;
}

#logform dt
{
    padding: 3px 2px 0 0;
}

#regform
{
    width: 200px;
    margin: 0 auto;
}

#regform .logowanie
{
    width: 200px;
    text-align: center;
}

#regform #submit
{
    width: 100%;
}

#regform #submit-element
{
    width: 18px;
    margin: 0 auto;
}

#regform dt
{
    margin-top: 5px;
}

#actform
{
    width: 100px;
    margin: 20px auto;
}

#edit-form #cancel-element,
#edit-form #submit-element
{
    float: left;
    width: 50%;
    margin: 10px auto;
}

.edit-textarea
{
    width: 100%;
}

.edit-input
{
    width: 300px;
}

#upload-form #cancel-element,
#upload-form #submit-element
{
    float: left;
    width: 50%;
    margin: 10px auto;
}

/*buttons*/
.button
{
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    opacity: 0.8;
}

.button:hover
{
    opacity: 1;
}

.submit-but
{
    background: url('img/submit.png');
}

.save-but
{
    background: url('img/save.png');
}

.cancel-but
{
    background: url('img/delete.png');
}