* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}

img
{
    border: none;
}

#box{ 
 margin: 0 auto;
 width: 1100px;
 overflow:hidden;
}

#content
{
	margin:0 auto;
	width:1000px;
	overflow:hidden;
}

#news {
 color: black;
 width: 1000px;
 float: left;
 padding: 0px;
 border: 0px solid #ccc;
 height: 100px;
 margin: 5px 0px 0px 0px;
}
#header {
 color: black;
 width: 1000px;
 float: left;
 padding: 0px;
 border: 0px solid #ccc;
 height: auto;
 margin: 0px 0px 0px 0px;
}
#logo {
 color: #333;
 width: 450px;
 float: left;
 padding: 0px;
 border: 0px solid #ccc;
 height: 50px;
 margin: 29px 0px 0px 0px;
}
#logo2 {
 color: #333;
 width: 450px;
 float: right;
 padding: 0px;
 border: 0px solid #ccc;
 height: 100px;
 margin: 5px 0px 0px 0px;
 background: red;
}

#columns
{
    min-height: 427px;
}

#logon { 
 color: #333;
 box-shadow: 0 0 5px rgb(0, 0, 0);
 margin: 17px 0px 0px 2px;
 padding: 0px;
 height: 427px;
 width: 345px;
 float: left;
}

#logon #normal-login
{
    height: 77px;
}

#dandd { 
 position: relative;
 float: left;
 color: #333;
 border: 0px solid red;
 /*background: #E7DBD5;*/
 background: url(img/tlo.png) repeat;
 margin: 15px 0px 0px 0px;
 padding: 10px;
 min-height: 410px;
 width: 630px;

}
#stopka{ 
 float: left;
 color: #333;
 border: 0px solid red;

 margin: 15px 0px 0px 0px;
 padding: 0px;
 height: 20px;
 width: 1000px;
}
#copyright{ 
 float: left;
 color: #333;
 border: 0px solid red;

 margin: 15px 0px 0px 0px;
 padding: 0px;
 height: 35px;
 width: 1000px;
}
h1
{
font-family:arial, verdana, helvetica, sans-serif;
font-size:3.0em; 
font-weight: normal;
color:orange;
padding-left:5px;
line-height:1.6em;
text-align:center;
}
h2
{
font-family:arial, verdana, helvetica, sans-serif;
font-size:1.5em; 
font-weight: normal;
color:orange;
padding-left:5px;
line-height:1.6em;
text-align:center;
}
h3
{
font-family:arial, verdana, helvetica, sans-serif;
font-size:0.7em; 
font-weight: normal;
color:orange;
padding-left:5px;
line-height:1.6em;
text-align:center;
}

.hidden
{
    display: none;
}